<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2820fab1de.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
   
<nav class="main-navbar">
    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>

    <ul>
        <a href="/register"><li>Creá tu cuenta<i class="fa-regular fa-id-card"></i></li></a>
        <a href="/login"><li>Ingresá<i class="fa-solid fa-arrow-right"></i></li></a>
        <li>Mis Compras<i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
</nav>

    <div class="burguer">
        <i class="fas fa-bars"></i>
       </div>

       


    </header>


    <main>
        <img class="img" src="/images/img-home-banner.jpg"/>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <nav class="articulos">
            <article class="art-one">
                <picture>
                    <img class="img" src="/images/img-cafetera-moulinex.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$6.770</dt>
                    <dt class="descuentos">40% OFF</dt>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </dl>
            
            </article>

            <article class="art-two">
                <picture>
                    <img class="img" src="/images/img-macbook-pro-2019.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$230.000</dt>
                    <dt class="descuentos">20% OFF</dt>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </dl>
               
            </article>

            <article class="art-three">
                <picture>
                    <img class="img" src="/images/img-samsung-galaxy-s10.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$70.500</dt>
                    <dt class="descuentos">10% OFF</dt>
                    <h3 class="descripcion">Samsung Galaxy S10</h3> 
                </dl>
                
            </article>

            <article class="art-four">
                <picture>
                    <img class="img" src="/images/img-tv-samsung-smart.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$23.200</dt>
                    <dt class="descuentos">5% OFF</dt>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </dl>
                
            </article>
            </nav>

        </section>

        <section>
            <h2 class="titulares">Ofertas</h2>
            <nav class="articulos">
            <article class="art-one">
                <picture>
                    <img class="img" src="/images/img-cafetera-moulinex.jpg"/>
                </picture>

                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$6.770</dt>
                    <dt class="descuentos">40% OFF</dt>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </dl>
               
            </article>

                <article class= "art-two">
                    <picture>
                        <img class="img" src="/images/img-macbook-pro-2019.jpg"/>
                    </picture>

                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$230.000</dt>
                        <dt class="descuentos">20% OFF</dt>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </dl>
                    
                </article>
    
                <article class="art-three">
                    <picture>
                        <img class="img" src="/images/img-samsung-galaxy-s10.jpg"/>
                    </picture>
                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$70.500</dt>
                        <dt class="descuentos">10% OFF</dt>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </dl>
                    
                </article>
    
                <article class="art-four">
                    <picture>
                        <img class="img" src="/images/img-tv-samsung-smart.jpg"/>
                    </picture>
                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$23.200</dt>
                        <dt class="descuentos">5% OFF</dt>
                        <h3 class="descripcion">SmartTv Samsung 43"</h3>
                    </dl>
                    
                </article>   
               </nav> 



        </section>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3 class="titulosfooter">Pagá con tarjeta o en efectivo</h3>
            <article class="textFooter">Con Mercado Liebre Cash, 
                tenés cuotas sin interés con tarjeta 
                o efectivo en
                puntos de pago. 
                ¡Y siempre es seguro!</article>

            <i class="fa-solid fa-gift"></i>    
            <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
            <article class="textFooter">Solo por estar registrad@ en Mercado Liebre 
                tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</article> 
                
            <i class="fa-solid fa-user-shield"></i>    
            <h3 class="titulosfooter"> Seguridad, de principio a fin</h3>
            <article class="textFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                no hay nada que no puedas hacer,
                porque estás siempre protegid@.</article>
    
            <h3 class="textFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
              
        </section>
    </footer>
    
</body>
</html>