<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://kit.fontawesome.com/2820fab1de.js" crossorigin="anonymous"></script>
</head>

<body>
            <!--Header-->

    <header class="main-header">
        <section class="main-header-top-bar">
            <figure class="logo">
            <img src="/images/logo-mercado-liebre.svg">
            </figure>
            <article class="buscador">
            <form id="buscador"> <input type="search" value = "Buscar productos, marcas" id="barra"><button type="submit" onclick=""> <i class="fas fa-search"></i></button> </form>
            </article>
            <article class="copy-header">
                <h2 ><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </article>
        </section>
        
   <section class="main-nav">
    <nav class="main-navbar-left">
        <a href="/" class="link">Ofertas</a>
        <a href="/" class="link">Tiendas Oficiales</a>
        <a href="/" class="link">Vender</a>
        <a href="/" class="link">Ayuda</a>
    </nav>

    <nav class="main-navbar-right">
        <a href="/register" class="link">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a>
        <a href="/login" class="link">Ingresá<i class="fa-solid fa-arrow-right"></i></a>
        <a href="/" class="link">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a>
    </nav>
</section>


<section>
    <nav class="burguer">
        <i class="fas fa-bars"></i>
    </nav>
</section>

    </header>

    <figure>
        <img class="banner" src="/images/img-home-banner.jpg">
    </figure>

        <!--main-->

    <main>
        
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="articulos">
            <article class="custom__product">
                <picture>
                    <img class="img" src="/images/img-cafetera-moulinex.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$6.770</dt>
                    <dt class="descuentos">40% OFF</dt>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </dl>
            
            </article>

            <article class="custom__product">
                <picture>
                    <img class="img" src="/images/img-macbook-pro-2019.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$230.000</dt>
                    <dt class="descuentos">20% OFF</dt>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </dl>
               
            </article>

            <article class="custom__product">
                <picture>
                    <img class="img" src="/images/img-samsung-galaxy-s10.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$70.500</dt>
                    <dt class="descuentos">10% OFF</dt>
                    <h3 class="descripcion">Samsung Galaxy S10</h3> 
                </dl>
                
            </article>

            <article class="custom__product">
                <picture>
                    <img class="img" src="/images/img-tv-samsung-smart.jpg"/>
                </picture>
                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$23.200</dt>
                    <dt class="descuentos">5% OFF</dt>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </dl>
                
            </article>
        </div>
         

        </section>

        <section>
            <h2 class="titulares">Ofertas</h2>

            <div class="articulos">
          
           
            <article class="custom__product">
                <picture>
                    <img class="img" src="/images/img-cafetera-moulinex.jpg"/>
                </picture>

                <dl class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <dt class="precios">$6.770</dt>
                    <dt class="descuentos">40% OFF</dt>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </dl>
               
            </article>

                <article class= "custom__product">
                    <picture>
                        <img class="img" src="/images/img-macbook-pro-2019.jpg"/>
                    </picture>

                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$230.000</dt>
                        <dt class="descuentos">20% OFF</dt>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </dl>
                    
                </article>
    
                <article class="custom__product">
                    <picture>
                        <img class="img" src="/images/img-samsung-galaxy-s10.jpg"/>
                    </picture>
                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$70.500</dt>
                        <dt class="descuentos">10% OFF</dt>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </dl>
                    
                </article>
    
                <article class="custom__product">
                    <picture>
                        <img class="img" src="/images/img-tv-samsung-smart.jpg"/>
                    </picture>
                    <dl class="caja">
                        <i class="fa-solid fa-truck"></i>
                        <dt class="precios">$23.200</dt>
                        <dt class="descuentos">5% OFF</dt>
                        <h3 class="descripcion">SmartTv Samsung 43"</h3>
                    </dl>
                    
                </article>  
            </div> 
            



        </section>
    </main>

        <!--Footer-->

    <footer>
        <section class="footerFlex">
                <article>
               <picture class="iconoFooter">
            <i class="fa-solid fa-credit-card"></i>
              </picture>
            <h3 class="titulosfooter">Pagá con tarjeta o en efectivo</h3>
            <p class="textFooter">Con Mercado Liebre Cash, 
                tenés cuotas sin interés con tarjeta 
                o efectivo en
                puntos de pago. 
                ¡Y siempre es seguro!</p>
            </article>

            <article>

             <picture class="iconoFooter">
            <i class="fa-solid fa-gift"></i>
             </picture>    
            <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
            <p class="textFooter">Solo por estar registrad@ en Mercado Liebre 
                tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</p> 
            </article>
                
            <article>
            <picture class ="iconoFooter">
            <i class="fa-solid fa-user-shield"></i>
            </picture>    
            <h3 class="titulosfooter"> Seguridad, de principio a fin</h3>
            <p class="textFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
    
            
        </section>
        <article class="copyFooter">
            <h3>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</h3>
        </article> 
    </footer>
    
</body>
</html>