<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="https://kit.fontawesome.com/2820fab1de.js" crossorigin="anonymous"></script>
</head>


<body class="cuerpo">

    <header class="main-header">
        <section class="main-header-top-bar">
            <figure class="logo">
            <img src="/images/logo-mercado-liebre.svg">
            </figure>
            <article class="buscador">
            <form id="buscador"> <input type="search" value = "Buscar productos, marcas" id="barra"><button type="submit" onclick=""> <i class="fas fa-search"></i></button> </form>
            </article>
            <article class="copy-header">
                <h2 ><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </article>
        </section>
        
    <section class="main-nav">
    <nav class="main-navbar-left">
        <a href="/" class="link">Ofertas</a>
        <a href="/" class="link">Tiendas Oficiales</a>
        <a href="/" class="link">Vender</a>
        <a href="/" class="link">Ayuda</a>
    </nav>
    
    <nav class="main-navbar-right">
        <a href="/register" class="link">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a>
        <a href="/login" class="link">Ingresá<i class="fa-solid fa-arrow-right"></i></a>
        <a href="/" class="link">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a>
    </nav>
    </section>
    
    <nav class="burguer">
        <a href="/"><i class="fas fa-bars"></i></a>
    </nav>
    
    </header>


    <form action="/" method="post">
        <fieldset class="title">
            <legend class="none">Nombre de Usuario</legend>
            <label for="nombre"></label>
            <input  class="relleno" type="text" placeholder="Nombre de Usuario" name="nombreDeUsuario" required>
        </fieldset>

        <fieldset class="title">
            <legend class="none">Contraseña</legend>
            <label for="pass"></label>
            <input class="relleno" type="password" placeholder="Contraseña" name="pass" required>
        </fieldset>

        <fieldset class="title">
            <legend class="none">Boton de Envio</legend>
            <button type="submit" class="boton">Enviar</button>
        </fieldset>

    </form>

    <footer>
        <section class="footerFlex">
                <article>
               <picture class="iconoFooter">
            <i class="fa-solid fa-credit-card"></i>
              </picture>
            <h3 class="titulosfooter">Pagá con tarjeta o en efectivo</h3>
            <p class="textFooter">Con Mercado Liebre Cash, 
                tenés cuotas sin interés con tarjeta 
                o efectivo en
                puntos de pago. 
                ¡Y siempre es seguro!</p>
            </article>

            <article>

             <picture class="iconoFooter">
            <i class="fa-solid fa-gift"></i>
             </picture>    
            <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
            <p class="textFooter">Solo por estar registrad@ en Mercado Liebre 
                tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</p> 
            </article>
                
            <article>
            <picture class ="iconoFooter">
            <i class="fa-solid fa-user-shield"></i>
            </picture>    
            <h3 class="titulosfooter"> Seguridad, de principio a fin</h3>
            <p class="textFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
    
            
        </section>
        <article class="copyFooter">
            <h3>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</h3>
        </article> 
    </footer>
    
</body>
</html>