<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/" method="post">
        <fieldset>
            <legend>Nombre de Usuario</legend>
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" name="nombreDeUsuario" id="nombreDeUsuario" required>
        </fieldset>

        <fieldset>
            <legend>Contraseña</legend>
            <label for="pass">contraseña</label>
            <input type="password" name="pass" id="pass" required>
        </fieldset>

        <fieldset>
            <legend>Boton de Envio</legend>
            <button type="submit">Enviar</button>
        </fieldset>

    </form>
    
</body>
</html>