<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="https://kit.fontawesome.com/2820fab1de.js" crossorigin="anonymous"></script>
</head>
<body class="cuerpo">
    <form action="/" method="post">
        <fieldset class="title">
            <legend class="none">Nombre de Usuario</legend>
            <label for="nombre"></label>
            <input type="text" placeholder="Nombre de Usuario" name="nombreDeUsuario" required>
        </fieldset>

        <fieldset class="title">
            <legend class="none">Contraseña</legend>
            <label for="pass"></label>
            <input type="password" placeholder="Contraseña" name="pass" required>
        </fieldset>

        <fieldset class="title">
            <legend class="none">Boton de Envio</legend>
            <button type="submit" class="boton">Enviar</button>
        </fieldset>

    </form>
    
</body>
</html>