<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://kit.fontawesome.com/2820fab1de.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/" method="post">
        <fieldset class="formulario">
            <legend class="titulo">Nombre y Apellido</legend>
            <label for="nombreCompleto">Nombre y Apellido</label>
            <input type="text" name="nombreCompleto" id="nombreCompleto" required>
        </fieldset>

        <fieldset class="formulario">
            <legend class="titulo">Nombre de Usuario</legend>
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" name="usuario" id="usuario" required>
        </fieldset>

        <fieldset class="formulario">
            <legend class="info">Fecha de Nacimiento</legend>
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="text" name="fecha" id="fecha" required>
        </fieldset>

        <fieldset class="formulario">
            <legend class="titulo">Domicilio</legend>
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" required>
        </fieldset>

        <fieldset class="formulario">
            <legend class="info">Perfil de Usuario</legend>
            <label for="perfilComprador">Comprador</label>
            <input type="radio" name="perfil" id="perfilComprador" value="comprador" required>
            <label for="perfilVendedor">Vendedor</label>
            <input type="radio" name="perfil" id="perfilVendedor" value="vendedor" required>
        </fieldset>

        <fieldset class="orden">
            <legend class="interes">Interés</legend>
            <label for="categoriaElectro">Electro</label>
            <input type="checkbox" name="categoria" id="categoriaElectro" value="electro">
            <label for="categoriaModa">Moda</label>
            <input type="checkbox" name="categoria" id="categoriaModa" value="moda">
            <label for="categoriaHogar">Hogar</label>
            <input type="checkbox" name="categoria" id="categoriaHogar" value="hogar">
            <label for="categoriaJugueteria">Juguetería</label>
            <input type="checkbox" name="categoria" id="categoriaJugueteria" value="juguetería">
            <label for="categoriaVidaSana">Vida Sana</label>
            <input type="checkbox" name="categoria" id="categoriaVidaSana" value="vidaSana">
        </fieldset>

        <fieldset>
            <legend class="titulo">Foto del Usuario</legend>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto" required>
        </fieldset>

        <fieldset>
            <legend class="titulo">Contraseña</legend>
            <label for="clave">Contraseña</label>
            <input type="password" name="clave" id="clave" required>
        </fieldset>

        <fieldset>
            <legend class="titulo">Confirmar Contraseña</legend>
            <label for="confirmar">Confirmar Contraseña</label>
            <input type="password" name="confirmar" id="confirmar" required>
        </fieldset>

        <fieldset>
            <legend>Botones de Formulario</legend>
            <button type="submit">Enviar</button>
            <button type="reset">Reset</button>
        </fieldset>

        
  
    </form>
    
</body>
</html>