*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  margin-top: 10px;
  position: relative;
  align-self: center;
}
.titulosfooter {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  color: rgb(102, 102, 102);
}

.textFooter {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: rgb(102, 102, 102);
}

.iconoFooter{
  font-size: 34px;
  color: rgb(0, 0, 255);
  display: flex;
  justify-content: space-around;
}
.iconoFooter:hover{
  color: rgb(7, 142, 155);
}

.copyFooter{
  color: #666;
  font-size: 12px;
  text-align: justify;
  margin-top: 10px;
}

@media(min-width: 768px){
  .buscador{
    position: relative;
    left: -2vw;
  }

}

@media(min-width: 1200px){
  .footerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  
  
}
 