@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(234, 201, 38);
    width: 100vw;
    
    
}
  .main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  .main-nav{
    display: none;
  }

 
  .buscador{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    right: 5px;
    border-radius: 10px;
}
  
  .logo {
    width: 30vw;
    position: relative;
    right: 20px;
  }
  .copy-header {
    display: inline;
    font-weight: 200;
    font-size: 10px;
    text-align: center;
    width: 50%;
    color: rgb(3, 38, 76);
  }

  .burguer {
    text-align: center;
    background-color: rgb(3, 38, 76);
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
    max-width: 50px;
    border-radius: 8px;
  }
  

 

  @media(min-width: 768px){
    .main-header{
      width: 100%;
      
    }
    
      .copy-header {
        width: 30vw;
        font-size: 10px;
        display: flex;
        text-align: right;
        position: relative;
        left: 30vw;
        bottom: 6vw;

      }
      .buscador{
        position: relative;
        right: 30vw;

      }

      .main-nav{
        display: flex;
        justify-content: space-between;
        align-content: center;
        
      }
      .link{
        text-decoration: none;
        color: rgb(5, 18, 59);

      }
      .main-nav a{
        display: inline;
        margin: 10px;
      }
        
      .main-navbar-left
      {
        display: flex;
        justify-content: flex-start;
      }
      
      .main-navbar-right
        {
          display: flex;
          justify-content: flex-end;
          
      }
      .burguer{
        display: none;
      }
      .logo{
        width: 30vw;
        display: flex;
        position: relative;
        right: 30vw;
        top: 2vw;
      }
      
      
 

 @media(min-width: 1200px) {
   .logo{
     width: 30vw;
     position: relative;
     right: 2vw;
   }
   .copy-header{
     position: relative;
     left: 70vw;
   }
   .buscador{
     position: relative;
     left: 25vw;
     bottom:35vw;
   }
   .main-nav{
     position: relative;
     top: 70px;
   }
   .main-navbar-left{
     display:flex;
     justify-content: flex-start;
     position: relative;
     right: 35vw;
   }
   .main-navbar-right{
    display: flex;
    justify-content: flex-start;
  }
   
   .burguer{
     display: none;
   }
  }
}
  