@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(234, 201, 38);
    width: 100vw;
    position:fixed;
    z-index: 1;
  }
  
  .main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 18px;
  }

  main {
    width: 90vw;
    margin: auto;
  }
  
  .search{
    width: 20%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 5px;
    right: 5px;
}
  
  .logo {
    width: 35vw;
  }
  .copy-header {
    display: inline;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    width: 50%;
    color: rgb(3, 38, 76);
  }

  .burguer {
    text-align: center;
    background-color: rgb(3, 38, 76);
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
    max-width: 50px;
    border-radius: 8px;
  }
  

  @media(max-width: 360px){
      .main-navbar-left,
      .main-navbar-right{
          display: none;
      }
      .logo{
          max-width: 30%;
      }
      .main-header{
        position: relative;
      }
      
     
  }
 @media(min-width: 768px){
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
      }
      .copy-header {
        width: 35vw;
        text-align: right;
        
      }
      .main-navbar {
        display: flex;
        justify-content: space-between;
      }

      .main-navbar-left,
      .main-navbar-right
        {
        display: none;
        margin: 10px;

  }
      
 }

 @media(min-width: 1200px) {
   .main-navbar-left,
   .main-navbar-right{
     display: flex;
    
   }
   
 }
