@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(235, 235, 235);;

}

  .formulario{
      display: flex;
      color: #666;
      margin-bottom:0.5px;
      border: none;
    }

  .titulo{
      display: none;
      border: none;
    }

  .info{
  font-weight: bold;
  color: rgb(0, 0, 0);
    }

  .interes{
    font-weight: bold;
    color: rgb(0, 0, 0);
    
  }

  .orden{
    display: flex;
    flex-direction: column;
  }
  
  .boton{
    
    background-color: rgb(0, 174, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    margin: 2px;
    font-size: 20px;
    
    transition: background-color .3;
    display:flex;
    
   
      
  }

  .boton:hover{
    background-color:#0c194e;
    
  }
 