* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  .banner{
    max-width: 100%;
    position: relative;
    top: 55vw;
  }

  main {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  .main-navbar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: justify;
  }
  
  .titulares {
    max-width: 100%;
    background-color: #ebebeb;
    font-size: 24px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 60vw;
  }

    
  .custom__product {
    max-width: 20%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: solid 2px #ebebeb;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;  
    top: 60vw;
  }
  
  .caja {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 3px #ebebeb;
    color: #39b54a;
    text-align: justify;
    background-color: white;
    position: relative;
    right: 5px;
    top: 5px;
}
  
  .fa-truck {
    
    padding: 5px;
    border: 1px solid #39b54a;
    border-radius: 50px;
    color: #39b54a;
    position: absolute;
    right: 1px;
    bottom: 35px;
    
    
  }
  
  .precios {
    color: #666;
    font-style: bold;
    display: flex;
    justify-content: flex-start;
  }
  
  .descuentos {
    color: #39b54a;
    text-align: justify;
  }
  
  .descripcion {
    color: #666;
    font-size: 16px;
    font-weight: 700;
    width: 90%;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  .img {
    max-width: 100%;
    position: relative;
    
  }
  
  @media (max-width: 360px) {
    .descripcion {
      display: none;
    }
    }
    .custom__product{
        max-width: 100%;
        margin: 5px 15px;
    }
  
     .descuentos{
      display: block;
      position: absolute;
      bottom: 2vw;
    }
    .precios{
        display: block;
        position: absolute;
        bottom: 5vw;
        right: 20vw;
    }
  
  @media (min-width: 361px) {
    .titulares,
    .custom__product{
      max-width: 40%;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin: 0 20px;

    }
   
    
  }
  
  @media (min-width: 769px) {
    
    .titulares {
      max-width: 100%;
      margin: auto;
    }
    .banner{
      position: relative;
      bottom: 20px;

    }
  
    .custom__product{
      max-width: 40%;
      margin: auto;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 50px;
      margin: 0 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .img {
      max-width: 100%;
    }
    .titulares {
      max-width: 100%;
    }
    
    .custom__product{
        max-width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 20px;
    }
    
  }

  