@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  .banner{
    width: 100%;
    
  }

  main {
    margin: auto;
    width: 90vw;
  }
  

  .titulares {
    max-width: 100%;
    background-color: #ebebeb;
    font-size: 24px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 2px;
  }

  .articulos{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
   }

    
  .custom__product {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    margin: 1px;
    padding: 1px;
    position: relative;
  
  }

  .custom__product .descripcion {
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .custom__product .descripcion:hover {
    opacity: 1;
  }
  
  .caja {
    display: flex;
    flex-wrap:wrap;
    border-top: 1px solid #ebebeb;
    background-color: white;
    position: relative;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    
}

.caja:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

  
  .fa-truck {
    font-size: 1.5rem;
    padding: 12px 7px 11px 8px;
    margin: 1px 7px;
    display: block;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50vw;
    top: -20px;
    color: #39b54a;
    transition: all 0.4s ease;
  }

  .fa-truck:hover {
    transform: rotate(-90deg);
  }
  
  
  .precios {
    font-size: 18px;
    font-weight: 400;
    margin: 0px 15px;
    color: #666;
  }
  
  .descuentos {
    color: #39b54a;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;

  }
  
  .descripcion {
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
    margin: 15px 15px;
    width: 100%;
    color: #666;
  }
  
  .img {
    max-width: 100%;
    position: relative;
    
  }
  
 
  @media (min-width: 768px) {
    
    .titulares {
      max-width: 100%;
      margin: auto;
      
    }
    .banner{
      position: relative;
    
    }
  
    .custom__product{
      max-width: 40%;
      margin: 5%;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
  

    }
    .caja{
      width: 100%;
    }
  
  
  @media (min-width: 1200px) {
    .img {
      max-width: 100%;
    }
    .titulares {
      max-width: 100%;
    }
    
    .custom__product{
        max-width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    .caja{
      display: flex;
      flex-wrap:wrap;
      border-top: 1px solid #ebebeb;
      background-color: white;
      padding: 8px;
      position: relative;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
  }
}